<div *ngIf="showChatWidget" [@toggleChatWidget] class="quantum-chatbot">
  <!--Header-->
  <div [ngStyle]="{ backgroundColor: widgetConfig.headerBackgroundColor, color: widgetConfig.headerTextColor }"
       class="quantum-chatbot-header">
    <div style="display: flex; gap: 7px; align-items: center">
      <img [attr.src]="widgetConfig.logo" [height]="24" width="24">
      <div class="quantum-chatbot-name">
        {{ widgetConfig.name }}
      </div>
    </div>
    <div class="quantum-chatbot-header-actions">
      <!--<i (click)="resetChat()" class="pi pi-sync cursor-pointer" title="Reset Chat"></i>-->
      <img (click)="resetChat()" [height]="24" src="assets/refresh.png" style="display: flex; cursor: pointer"
           title="Reset Chat"
           width="24">
    </div>
  </div>

  <!--Chat Area-->
  <div [ngStyle]="{ borderColor: widgetConfig.borderColor, backgroundColor: widgetConfig.chatAreaBackgroundColor }"
       class="quantum-chatbot-chat"
       id="quantum-chat-scrollable-container">
    <div #bottom class="chat-message-bottom"></div>
    <ng-container *ngIf="messages.length>0">
      <ng-container *ngTemplateOutlet="chatContainer"></ng-container>
    </ng-container>
    <ng-container *ngIf="messages.length===0">
      <ng-container *ngTemplateOutlet="initialWelcomeContainer"></ng-container>
    </ng-container>
  </div>

  <!--Footer-->

  <div [ngStyle]="{ backgroundColor: widgetConfig.FooterBackgroundColor, color: widgetConfig.FooterTextColor }"
       class="quantum-chatbot-footer">
    <div class="quantum-chat-container">
      <textarea #message (keyup.enter)="sendMessage(message.value, message)" class="quantum-chat-input-text"
                id="quantum-bot-chat-area"
                placeholder="Type message..."></textarea>
      <span (click)="sendMessage(message.value, message)" class="quantum-chat-submit">
        <i class="pi pi-send"></i>
      </span>
    </div>
    <div style="font-size: 10px;margin-top: 10px;width: 100%;text-align: center;">Powered By <a class="cursor-pointer"
                                                                                                href="https://quantumedge.netlify.app/"
                                                                                                style="text-decoration: none !important;"
                                                                                                target="_blank">Quantum
      edge</a></div>
  </div>
</div>

<!--Widget open button-->

<button (click)="openWidget()" [@toggleChatWidget]
        [class.quantum-chat-button-close]="showChatWidget"
        [ngStyle]="{ backgroundColor: widgetConfig.BotButtonBackgroundColor}"
        class="quantum-chat-button">
  <span *ngIf="showChatWidget" style="color: #007DA1;">✕</span>
  <img *ngIf="!showChatWidget" [height]="32" [width]="32" alt="?" src="assets/chat-icon.png">
</button>


<ng-template #chatContainer>
  <ng-container *ngFor="let message of messages">
    <div [class.quantum-received-message-container]="message.type === 'received'"
         [class.quantum-sent-message-container]="message.type === 'sent'">
      <span *ngIf="message.type === 'received'" class="quantum-chatbot-avatar-container">
        <img [attr.src]="widgetConfig.logo"
             class="quantum-chatbot-avatar quantum-chat-message-from-avatar">
      </span>
      <div [class.quantum-chat-message-received]="message.type === 'received'"
           [class.quantum-chat-message-sent]="message.type === 'sent'"
           [ngStyle]="{ backgroundColor: message.type === 'sent' ? widgetConfig.sendChatBackgroundColor : widgetConfig.receiveChatBackgroundColor }"
           class="quantum-chat-message">
        <img *ngIf="message.text==='...'" alt="Typing" height="20" src="assets/typing.gif">
        <div *ngIf="message.text!=='...'" [innerHTML]="message.text"
             [ngStyle]="{ color: message.type === 'sent' ? widgetConfig.sendChatTextColor : widgetConfig.receiveChatTextColor }"
             class="quantum-chat-message-text">
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #initialWelcomeContainer>
  <div class="quantum-received-message-container">
    <span class="quantum-chatbot-avatar-container">
      <img [attr.src]="widgetConfig.logo"
           class="quantum-chatbot-avatar quantum-chat-message-from-avatar">
    </span>
    <div [ngStyle]="{ backgroundColor: widgetConfig.receiveChatBackgroundColor }"
         class="quantum-chat-message quantum-chat-message-received">
      <div [innerHTML]="widgetConfig.welcomeMessage"
           [ngStyle]="{ color: widgetConfig.receiveChatTextColor }"
           class="quantum-chat-message-text">
      </div>
    </div>
  </div>
  <div class="faq-container" style="margin-top: 35px">
    <button (click)="sendMessage(widgetConfig.FAQs[0], {})"
            class="faq-button">{{ widgetConfig.FAQs[0] }}
    </button>
    <button (click)="sendMessage(widgetConfig.FAQs[1], {})"
            class="faq-button">{{ widgetConfig.FAQs[1] }}
    </button>
    <button (click)="sendMessage(widgetConfig.FAQs[2], {})"
            class="faq-button">{{ widgetConfig.FAQs[2] }}
    </button>
  </div>
</ng-template>
