<div *ngIf="showChatWidget" class="quantum-chatbot">
  <div class="quantum-chatbot-header"
    [ngStyle]="{ backgroundColor: widgetConfig.primaryColor, color: widgetConfig.headerTextColor }">
    <div class="quantum-chatbot-name">
      {{widgetConfig.name}}
      <i class="pi pi-circle-fill" style="color: #6fc86f; font-size: 10px;"></i>
    </div>
    <div class="quantum-chatbot-header-actions">
      <i class="pi pi-sync cursor-pointer" title="Reset Chat" (click)="resetChat()"></i>
      <i class="pi pi-times cursor-pointer" (click)="showChatWidget=false" style="margin-left: 7px"
        title="Close Chat"></i>
    </div>
  </div>

  <div class="quantum-chatbot-chat" id="quantum-chat-scrollable-container"
    [ngStyle]="{ borderColor: widgetConfig.borderColor, backgroundColor: widgetConfig.chatAreaBackgroundColor }">
    <div class="chat-message-bottom" #bottom></div>
    <ng-container *ngFor="let message of messages">
      <div [class.quantum-received-message-container]="message.type === 'received'"
        [class.quantum-sent-message-container]="message.type === 'sent'">
        <img *ngIf="message.type === 'received'" [attr.src]="widgetConfig.logo"
          class="quantum-chatbot-avatar quantum-chat-message-from-avatar">
        <div class="quantum-chat-message" [class.quantum-chat-message-received]="message.type === 'received'"
          [class.quantum-chat-message-sent]="message.type === 'sent'"
          [ngStyle]="{ backgroundColor: message.type === 'sent' ? widgetConfig.sendChatBackgroundColor : widgetConfig.primaryColor }">
          <img *ngIf="message.text==='...'" src="assets/typing.gif" alt="Typing" height="20">
          <div *ngIf="message.text!=='...'" class="quantum-chat-message-text" [innerHTML]="message.text"
            [ngStyle]="{ color: message.type === 'sent' ? widgetConfig.sendChatTextColor : widgetConfig.receiveChatTextColor }">
          </div>
        </div>
      </div>
      <!-- <div class="css-0">
         <div class="css-j7qwjs">
           <div class="css-1xhj18k">
             <div class="css-17xejub"></div>
             <div class="chakra-stack css-1i2407o">
               <div class="css-l9b527"><span class="css-1kxrhf3">helldsahhhhhhhhhhhhhhh hjadsdhsa dhabdsjsa dhb daso</span></div>
             </div>
           </div>
         </div>
       </div>-->
    </ng-container>
  </div>

  <!--Footer-->
  <div class="quantum-chatbot-footer"
    [ngStyle]="{ backgroundColor: widgetConfig.FooterBackgroundColor, color: widgetConfig.FooterTextColor }">
    <input type="text" class="quantum-chat-input-text" placeholder="Type message..." #message
      (keyup.enter)="sendMessage(message.value, message)" autofocus>
    <span class="quantum-chat-submit" (click)="sendMessage(message.value, message)">
      Send
    </span>
  </div>
</div>

<button *ngIf="!showChatWidget" class="quantum-chat-button" (click)="showChatWidget=!showChatWidget"
  [ngStyle]="{ backgroundColor: widgetConfig.BotButtonBackgroundColor, color: widgetConfig.BotButtonIconColor }">
  <span *ngIf="showChatWidget">✕</span>
  <span *ngIf="!showChatWidget">?</span>
</button>