.quantum-chatbot {
  display: flex;
  flex-direction: column !important;
  width: 100%;
  height: 100%;
}

/*Header*/

.quantum-chatbot-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 12px;
}

.quantum-chatbot-name {
  margin: 0;
  padding: 1px;
}

.quantum-chatbot-status {
  float: right;
  // padding: 4px;
}

.quantum-chatbot-status span {
  margin-left: 4px;
}

.quantum-chatbot-status-online {
  color: lawngreen;
}

.quantum-chatbot-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  float: left;
}

.quantum-chat-button-header {
  font-weight: bold;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: inherit;
  cursor: pointer;
  padding: 5px 9px;
  margin-left: 5px;
}

.quantum-chat-button:focus {
  border: 2px solid white;
}

/*Chat Area*/

.quantum-chatbot-chat {
  margin-top: 57px; /* Adjust according to the height of your header */
  margin-bottom: 60px; /* Adjust according to the height of your footer */
  overflow-y: auto;
  max-height: calc(100vh - 160px);
  flex: 1;
  border:1px solid;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 1rem;
  box-shadow: -10px 0 10px -5px rgba(189, 36, 250, 0.3), 10px 0 10px -5px rgba(189, 36, 250, 0.3); /* Left and right shadow */
}

/*Chat message*/

.quantum-chat-message {
  display: block;
  width: auto;
  margin: 5px;
  align-self: flex-start;
  flex-direction: row;
  max-width: 80%;
  word-wrap: break-word;
  padding: 0.5rem !important;
}

.quantum-chat-message-text {
  font-size: 16px;
}

/*Sent message style*/
.quantum-sent-message-container {
  display: flex;
  justify-content: end;
}

.quantum-chat-message-sent {
  align-self: flex-end;
  border-radius: 15px 15px 0;
}

/**
Received message style
 */

.quantum-received-message-container {
  display: flex;
  align-items: end;
}

.quantum-chat-message-received {
  border-radius: 15px 15px 15px 0;

  //margin-left: 25px;
}

.quantum-chat-message-received .quantum-chat-message-text {
  a {
    color: #38B6FF !important;
  }
}

.quantum-chat-message-received .quantum-chat-message-from-avatar {
  //position: absolute;
  //left: 0;
  //top: 0;
  //transform: translate(-35px, 100%);
  //bottom: -15px;
}




/*Footer area*/

.quantum-chatbot-footer {
  height: 50px;
  padding: 10px 20px 10px 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantum-chat-input-text {
  padding-left: 10px;
  height: 25px;
  width: 90%;
  border: 0;
  resize: none;
  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
  font-size: 14px;
  background-color: inherit;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.quantum-chat-input-text::-webkit-input-placeholder {
  color: inherit;
}

.quantum-chat-input-text::-moz-placeholder {
  color: inherit;
}

.quantum-chat-input-text::-ms-input-placeholder {
  color: inherit;
}

.quantum-chat-submit {
  cursor: pointer;
  background-color: inherit;
  color: inherit;
  font-size: 16px;
  border: 0;
  outline: none;
  margin-right: 10px;
}


/*Chat Button*/
.quantum-chat-button {
  width: 60px;
  height: 60px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 2px;
  border-radius: 50%;
  border: none !important;
  outline: none;
  font-size: 32px;
  cursor: pointer;
  z-index: 2147483646;
}
