.quantum-chatbot {
  display: flex;
  flex-direction: column !important;
  width: 100%;
  height: 100%;
}

/*Header*/

.quantum-chatbot-header {
  position: fixed;
  top: 15px;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 12px;
  border: 1px solid #d6d6d6;
  border-bottom: none !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.quantum-chatbot-name {
  margin: 0;
  padding: 1px;
  color: #232A31;
  font-size: 18px;
}

.quantum-chatbot-header-actions {
  float: right;
  // padding: 4px;
}

.quantum-chatbot-avatar-container {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  float: left;
  position: relative;
  background: #E7F5F5;
}

.quantum-chatbot-avatar {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 25%;
  left: 25%;
  //border-radius: 50%;
  // float: left;
}

.quantum-chat-button-header {
  font-weight: bold;
  border: none;
  border-radius: 50%;
  background-color: inherit;
  cursor: pointer;
  padding: 5px 9px;
  margin-left: 5px;
}

.quantum-chat-button:focus {
  border: 2px solid white;
}

/*Chat Area*/

.quantum-chatbot-chat {
  margin-top: 74px; /* Adjust according to the height of your header */
  margin-bottom: 60px; /* Adjust according to the height of your footer */
  overflow-y: auto;
  max-height: calc(100vh - 262px);
  flex: 1;
  border-left: 1px solid;
  border-right: 1px solid;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 1rem;
}

/*Chat message*/

.quantum-chat-message {
  display: block;
  width: auto;
  margin: 5px;
  align-self: flex-start;
  flex-direction: row;
  max-width: 80%;
  word-wrap: break-word;
  padding: 6px 10px !important;
}

.quantum-chat-message-text {
  font-size: 13px;
}

/*Sent message style*/
.quantum-sent-message-container {
  display: flex;
  justify-content: end;
}

.quantum-chat-message-sent {
  align-self: flex-end;
  border-radius: 10px 10px 0;
}

/**
Received message style
 */

.quantum-received-message-container {
  display: flex;
  align-items: end;
}

.quantum-chat-message-received {
  border-radius: 10px 10px 10px 0;

  //margin-left: 25px;
}

.quantum-chat-message-received .quantum-chat-message-text {
  a {
    color: #38B6FF !important;
  }
}

.quantum-chat-message-received .quantum-chat-message-from-avatar {
  //position: absolute;
  //left: 0;
  //top: 0;
  //transform: translate(-35px, 100%);
  //bottom: -15px;
}


/*Footer area*/

.quantum-chatbot-footer {
  height: 60px;
  padding: 10px;
  position: fixed;
  bottom: 75px;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #d6d6d6;
  border-top: none !important;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.quantum-chat-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%; /* Full width within the container */
}

.quantum-chat-input-text {
  padding-left: 10px;
  padding-right: 40px; /* Ensure text doesn't go under the button */
  height: 40px;
  width: 100%; /* Full width within the container */
  border: 1px solid #d6d6d6;
  border-radius: 15px;
  resize: none;
  overflow: hidden; /* Hide scrollbars */
  outline: none;
  box-shadow: none;
  font-size: 14px;
  background-color: inherit;
  padding-top: 7px;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  box-sizing: border-box; /* Include padding in width */
  word-wrap: break-word; /* Break long words to prevent overflow */
  white-space: pre-wrap; /* Maintain formatting and wrap text */
}

.quantum-chat-input-text::-webkit-input-placeholder {
  color: inherit;
}

.quantum-chat-input-text::-moz-placeholder {
  color: inherit;
}

.quantum-chat-input-text::-ms-input-placeholder {
  color: inherit;
  box-sizing: border-box; /* Include padding in width */
  word-wrap: break-word; /* Break long words to prevent overflow */
  white-space: pre-wrap; /* Maintain formatting and wrap text */
}


.quantum-chat-submit {
  cursor: pointer;
  background-color: inherit;
  color: inherit;
  font-size: 16px;
  border: 0;
  outline: none;
  position: absolute;
  right: 10px;
}

/*Chat Button*/
.quantum-chat-button {
  width: 60px;
  height: 60px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  right: 5px;
  border-radius: 30px 30px 6px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 -2px 6px rgba(255, 255, 255, 0.3);
  border: none !important;
  outline: none;
  font-size: 32px;
  cursor: pointer;
  z-index: 2147483646;
  background-color: #fff; /* Adjust as needed */
}

.quantum-chat-button:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 -3px 8px rgba(255, 255, 255, 0.4);
}

.quantum-chat-button-close {
  border-radius: 30px !important;
}


.faq-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.faq-button {
  background: transparent;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  border: 1px solid #E3E5E7;
  color: #007DA1;
  font-size: 12px;
  cursor: pointer;
}

.faq-button:hover {
  background: #E7F5F5;
  color: #007DA1;
}
